html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  color: black;
}

.wrapper {
  width: 1040px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(26, 24, 23);
  text-shadow: 2px 2px 5px rgb(114, 211, 250);
}

.subtitle {
  margin: 30px 0 20px 0;
  font-size: 26px;
  font-weight: 700;
}

.header {
  background-color: rgb(126, 126, 228);
}

.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.header__item {
  margin-right: 10px;
}

.header__link {
  display: block;
  color: black;
  height: 100%;
  transition: 0.2s;
}

.header__link:hover {
  color: rgb(191, 189, 197);
}

.main {
  display: grid;
  column-gap: 20px;
  grid-template-columns: 300px 1fr;
}

.contacts {
  margin-left: 15px;
  background-color: rgb(170, 214, 231);
}

.contacts__photo-pic {
  width: 100%;
}

.contacts__contact {
  margin-left: 15px;
}

.contacts__list {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.contacts__item {
  margin-bottom: 20px;
}

.contacts__item a {
  display: block;
  color: black;
  transition: 0.2s;
}

.contacts__item a:hover {
  color: rgb(165, 162, 172);
}

.info {
  margin-left: 20px;
}

.info__skills-list {
  margin-left: 20px;
  list-style: square;
}

.info__projects-link {
  color: black;
  transition: 0.2s;
}

.info__projects-link:hover {
  color: rgb(112, 106, 131);
}

.info__education-item:first-child {
  margin-bottom: 20px;
}

.info__english {
  margin-bottom: 40px;
}

.footer {
  background-color: rgb(126, 126, 228);
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
}

.footer__rss {
  width: 100px;
}

.footer__year {
  align-self: center;
}

.footer__github {
  width: 50px;
}